@page {
  size: A4 portrait;
  margin: 2cm 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  min-width: auto !important;
}

li::first-letter {
  text-transform: capitalize;
}

.resume {
  --bg-color: #353535;
  --content: #5c5c5c;
  --divider-color: #d9d9d9;
  --divider-bar-color: #ededed;
  --column-gap: 40.5pt;
  --pw: 100vw;
  --ph: 100vh;
  width: var(--pw);
  height: var(--ph);
  padding: 0 4rem;
  position: relative;
}

.container {
  max-width: unset!important;
  min-width: auto!important;
  padding: 0;
  margin: 0;
}

.container > section {
  margin-bottom: 2rem;
}
  
.content-section > *:not(.section-title) {
  margin-left: 1rem;
  position: relative;
}

.section-title {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1rem;
}

.section-title span {
  -webkit-print-color-adjust: exact;
  background-color: var(--bg-color);
  color: white;
  padding: 2px 1.25rem 2px 0.5rem;
  display: inline-block;
}

.section-title::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid var(--bg-color);
  bottom: 0;
  position: absolute;
}

.self {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.self-title {
  text-align: left;
}

.portrait {
  width: calc(0.19835 * var(--pw));
}

.portrait img {
  border: 1pt solid #e2e2e2;
}

.professional-title {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1pt;
}

.summary {
  font-size: 9pt;
  text-align: center;
  color: var(--content);
}

.summary p:last-child {
  margin-bottom: 0;
}

.contact {
  font-size: 9pt;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
    margin-bottom: 0;
}

.contact-list li {
  flex: 1 1 33%;
  line-height: 1.5;
}

.contact i {
  font-size: 13.5pt;
  width: 18pt;
  text-align: center;
  margin-right: 0.1em;
}

.contact-link {
  display: flex;
  align-items: center;
  color: var(--content);
}

.contact-link:hover {
  text-decoration: none;
  color: #444;
}

.contact ul {
  margin-bottom: 0;
}

.contact li:not(:last-child) {
  margin-bottom: 0.5em;
}

.section-title {
  font-size: 12pt;
  text-align: left;
  font-weight: 600;
  letter-spacing: 2pt;
  text-transform: uppercase;
}

.education-history {
  color: var(--content);
}

.education-history li {
  display: flex;
  justify-content: space-between;
}

.education-history * {
  margin-bottom: 0;
  font-size: 9pt;
}

.record-degree {
  line-height: 1.414;
  font-weight: bold;
  font-family: Lato, Arial, sans-serif;
}

.record-where {
  text-align: right;
}

.work-experience {
  flex-grow: 1;
}

.jd-item {
  font-size: 9pt;
  color: var(--content);
  page-break-inside: avoid;
}

.jd-item:not(:last-child) {
  margin-bottom: 1.5em;
}

.job-info {
  font-size: 10pt;
  margin-bottom: 0.15em;
  font-weight: bold;
  font-family: lato, sans-serif;
}

.job-detail {
  margin-top: 1em;
}

.jd-item .duration {
  margin-bottom: 0;
}

a:not(.btn) {
  text-decoration: none;
}

.sub-skills {
  display: flex;
  flex-wrap: wrap;
}

.sub-skills > li {
  flex-basis: 50%;
  display: inline-flex;
  align-items: center;
  page-break-inside: avoid;
}

.skill-list, .project-list {
  font-size: 9pt;
}

.skill-list star-rating {
  --star-back-color: transparent;
  --star-stroke: rgb(136, 136, 136);
  --star-stroke-width: 3pt;
  margin-left: 0.5em;
}

.category {
  font-weight: 600;
  font-size: 10pt;
}

.subject {
  flex-basis: 6em;
}

.project-list li {
  page-break-inside: avoid;
}

.project-list .title {
  font-size: 11pt;
}

.project-list .title::before {
  display: block;
  float: left;
  width: 0;
  height: 1.15em;
  margin-right: 0.5em;
  border-left: 2.5pt solid #cecdcd;
  content: " ";
}

#printer, #language-switcher {
  display: none;
}