@media (min-width: 769px) {
  body {
    background-color: #c0b4a8;
    background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.15) 100%
    );
  }

  .resume {
    --pw: 210mm;
    --ph: 297mm;
    --column-gap: 54px;
    margin: 4rem auto; 
    box-shadow: 5px 5px 50px #7b7b7b;
  }
  
  .container {
    background-color: white;
    padding: 4rem 6rem;
    border-radius: 4px;
  }
  
  .content-section > *:not(.section-title) {
    margin-left: 1rem;
    position: relative;
  }
  
  /* .content-section > *:not(.section-title)::before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border-left: 2px solid var(--divider-color);
    left: -1.25rem;
    position: absolute;
  } */

  .self {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }

  .self-title {
    text-align: left;
  }

  .portrait {
    width: calc(0.19835 * var(--pw));
  }

  .summary-content {
    font-size: 14px;
    text-align: center;
  }

  .contact {
    font-size: 12px;
  }

  .contact-list {
    display: flex;
    flex-wrap: wrap;
      margin-bottom: 0;
  }
  
  .contact-list li {
    flex: 1 1 33%;
    line-height: 1.5;
  }

  .contact i {
    font-size: 18px;
    margin-right: 0.1em;
  }

  .section-title {
    font-size: 16px;
  }

  .education-history {
    color: var(--content);
  }

  .education-history li {
    display: flex;
    justify-content: space-between;
  }

  .education-history * {
    font-size: 12px;
  }

  .record-where {
    text-align: right;
  }

  .work-experience {
    flex-grow: 1;
  }

  .work-experience:lang(en) .divider-h:last-child {
    margin: 0;
  }

  .jd-item {
    font-size: 12px;
  }

  .job-info {
    font-size: 13px;
    margin-bottom: 0.15em;
    font-weight: bold;
    font-family: lato, sans-serif;
  }

  .job-detail {
    margin-top: 1em;
  }

  .job-detail:lang(en) {
    margin-top: 0.25em;
  }

  .jd-item .duration {
    margin-bottom: 0;
  }

  .skill-list {
    padding-left: 1.5rem;
  }

  .sub-skills {
    display: flex;
    flex-wrap: wrap;
  }

  .sub-skills > li {
    flex-basis: 50%;
  }

  .skill-list,
  .project-list {
    font-size: 13px;
  }

  .project-list strong {
    color: var(--content);
  }

  .category {
    font-size: 14px;
  }

  .subject {
    flex-basis: 6em;
  }

  .project-list .title {
    font-size: 14px;
  }

  .project-list .description {
    margin-bottom: 1rem;
  }

  #printer {
    display: block;
    width: 36px;
    height: 36px;
    position: fixed;
    right: 5vw;
    top: 10vh;
    border: 0;
    box-shadow: 1px 1px 6px #505050;
    transition: 0.3s ease-in;
    background-color: #f6f6f6;
  }

  #printer:hover {
    box-shadow: 1px 1px 10px #404040;
    background-color: #eee;
  }

  #printer:active {
    box-shadow: 1px 1px 2px #606060;
    background-color: #eee;
  }

  #printer:focus {
    outline: 0;
  }

  #language-switcher {
    right: 5.3vw;
    top: 4vh;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 2rem;
  }
}